.form {
    display: flex;
}

.form input {
    padding-left : 0.5rem;
    flex: 1;
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom : 1px solid #36c07b;
}

.create-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #189154;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.create-button:hover {
    background : #2fbd76;
}