.todo-item {
    padding : 1rem;
    display : flex;
    align-items : center;
    transition : all 0.15s;
    user-select : none;
}

.todo-item:hover .remove {
    opacity : 1;
}

.todo-item + .todo-item {
    border-top : 1.5px solid rgb(199, 189, 163);
}

.check-box {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid #ced4da;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
    color : #e64980;
}

.check-mark {
    font-size : 2rem;
    line-height : 1.5rem;
    margin-left : 0.3rem;
    color : #189154;
    font-weight : 800;
    cursor: pointer;
}

.remove {
    margin-right : 1rem;
    color : #e64980;
    opacity : 0;
    cursor : pointer;
}

.todo-text {
    flex: 1;
    word-break : break-all;
}

.checked {
    text-decoration : line-through;
    color : #adb5bd;
}